# .NET
bin/
obj/
*.user
*.suo
*.rsuser

# Visual Studio
.vs/

# Logs
*.log

# Environment / secrets
.env
appsettings.Local.json

# Node / React later
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db